

body {
  margin: 0;
  padding: 20px;
  min-height: 100%;
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
  font-family: Helvetica, Arial, sans-serif;
}

#app {
  width: 70%;
  min-height: 70%;
  border: 1px solid lighten(#1CBC9B, 10%);
  padding: 30px;
  background-color: #2D3E50;
  color: #D4D4D4;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.list {
  background-color: #34495D;
  text-align: center;
  border: 3px solid #1CBC9B;
  margin-bottom: 1px;
}
  li {
    background-color: #34495D;
    padding: 20px;
    margin-bottom: 1px;
    display: flex;
    justify-content: space-between;
    line-height: 18px;
  }

    .remove-item-button {
      font-size: 35px;
      transform: rotate(45deg);
      color: #1CBC9B;
      cursor: pointer;
      transition: all .2s linear;
}

      .remove-item-button:hover {
        color: #D4D4D4;
}

.empty-list-msg {
  padding: 10px 0;
}

input {
  font-size: 16px;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  color: #FFFFFF;
  padding: 10px 0;
}

button {
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: 0 0 2px #666;
  background-color: #1CBC9B;
  cursor: pointer;
}

  button[disabled] {
    background-color: darken(#1CBC9B, 10%);
    color: #ccc;
    border: 1px solid #ccc;
    box-shadow: none;
    cursor: initial;
}
